name: build_and_test

on:
  push:
  pull_request:

jobs:
  windows:
    runs-on: windows-2016
    strategy:
      fail-fast: false
    steps:
    - uses: actions/checkout@v1
    - name: Windows VS2017
      run: |
        call "C:\Program Files (x86)\Microsoft Visual Studio\2017\Enterprise\VC\Auxiliary\Build\vcvars64.bat" && msbuild.exe projects/visualstudio2015/smolv.sln /p:Configuration=Debug /p:CL_MPCount=2
        call "C:\Program Files (x86)\Microsoft Visual Studio\2017\Enterprise\VC\Auxiliary\Build\vcvars64.bat" && msbuild.exe projects/visualstudio2015/smolv.sln /p:Configuration=Release /p:CL_MPCount=2
        projects\visualstudio2015\build\x64\Release\smolv.exe
      shell: bash

  mac:
    runs-on: macOS-latest
    strategy:
      fail-fast: false
    steps:
    - uses: actions/checkout@v1
    - name: macOS Xcode 11.1
      run: |
        xcodebuild -project projects/smolv.xcodeproj -configuration Debug build
        xcodebuild -project projects/smolv.xcodeproj -configuration Release build
        projects/build/Release/smolv

  linux:
    runs-on: ubuntu-16.04
    strategy:
      fail-fast: false
    steps:
    - uses: actions/checkout@v1
    - name: Ubuntu 16
      run: |
        make -f projects/Makefile -j 4
        ./smolv

